p{
    color: darkgreen ; font-size: xxx-large; font-family: "Updock", cursive;
}

body{
    color: cornflowerblue; background-color: black; font-size: large; 
    font-family:"DynaPuff", system-ui; 
}

img{
    width: 400px ;
}

.updock-regular {
    font-family: "Updock", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

 div{
max-width: 600px;
margin: auto;
 }

 
 .dynapuff-<uniquifier> {
   font-family: "DynaPuff", system-ui;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
   font-variation-settings:
     "wdth" 100;
 }